* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;

  .HeaderDivL {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;

    .Logo {
      width: 13%;
      height: 27%;
    }

    .HeaderUlL {
      width: 80%;
      height: 10vh;
      display: flex;
      align-items: center;
      list-style: none;
      gap: 35px;
      margin-left: 5%;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    }
  }

  .HeaderDivR {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    padding-right: 80px;

    .WorldLogo {
      width: 3.5%;
    }

    .HeaderUlR {
      display: flex;
      list-style: none;
      gap: 35px;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    }

    .HeaderBtn {
      width: 110px;
      height: 35px;
      font-weight: bolder;
      color: white;
      background-color: black;
      border: none;
      border-radius: 25px;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    }
  }
}

section {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .SectionH1 {
    font-size: 65px;
  }

  .SectionH2 {
    font-size: 65px;
  }

  .SectionH3 {
    padding-top: 30px;
    font-size: 20px;
  }

  .SectionH4 {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .ButtonDiv {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 10px;

    .SectionBtn1 {
      width: 12%;
      height: 100%;
      border-radius: 50px;
      background-color: black;
      border: none;
      color: white;
      font-size: 20px;
    }

    .SectionBtn2 {
      width: 15%;
      height: 100%;
      border-radius: 50px;
      font-size: 20px;
    }
  }
}

.SecondSection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .SecondSectionImg {
    width: 90%;
    height: 100%;
    border-radius: 15px;
  }
}

.ThirdSection {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .ThirdSectionDivL {
    width: 35%;
    height: 40%;
    padding-left: 5%;

    .TSDH {
      font-size: 30px;
    }
  }

  .ThirdSectionDivR {
    width: 65%;
    height: 40%;
    display: flex;
    gap: 7%;
    padding-left: 2%;

    .Amazon {
      height: 62%;
      padding-top: 35px;
    }

    .Accenture {
        height: 54%;
        padding-top: 15px;
    }

    .Johnson {
      height: 70%;
      padding-top: 15px;
    }

    .Dell {
      height: 65%;
      padding-top: 15px;
    }

    .Merck {
      height: 55%;
      padding-top: 25px;
    }
  }
}

.FourthSecion {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  padding-left: 5%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .FSH1 {
    font-size: 50px;
  }
}

.FifthSection {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .DivLine {
    width: 95%;
    height: 90%;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;

    .FifthSectionUp {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 40px;

      .FifthSectionUpBtn1 {
        width: 12%;
        height: 50%;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        background-color: rgb(248, 220, 220);
      }

      .FifthSectionUpBtn2 {
        width: 12%;
        height: 50%;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        background-color: aliceblue;
      }

      .FifthSectionUpBtn3 {
        width: 7%;
        height: 50%;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        background-color: aliceblue;
      }

      .FifthSectionUpBtn4 {
        width: 12%;
        height: 50%;
        border-radius: 50px;
        border: none;
        font-size: 20px;
        background-color: aliceblue;
      }
    }

    .FifthSectionDown {
      width: 100%;
      height: 80%;
      display: flex;

      .FifthSectionDownDivL {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .FifthSectionDownImg {
          width: 95%;
        }
      }

      .FifthSectionDownUlR {
        width: 45%;
        height: 100%;
        padding-left: 5%;

        .FifthSectionDownH1R {
          padding-top: 10%;
          padding-bottom: 7%;
        }

        .FifthSectionDownLiR {
          font-size: 22px;
          padding-top: 6%;
          list-style: circle;
        }

        .FifthSectionDownUlRBtn {
          width: 32%;
          height: 12%;
          margin-top: 12%;
          border-radius: 50px;
          font-size: 20px;
          border-width: 1px;
          background-color: aliceblue;
        }
      }
    }
  }
}

.SixthSection{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  padding-left: 6%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .SSH1 {
    font-size: 50px;
  }
}

.SeventhSection {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .SeventhSectionUp {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    gap: 15px;

    .SevenSectionUpBtn1 {
      width: 3.5%;
      height: 70%;
      border-radius: 50px;
      border: none;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .SevenSectionUpBtn1Img{
        width: 20px;
      }
    }

    .SevenSectionUpBtn2 {
      width: 3.5%;
      height: 70%;
      border-radius: 50px;
      border: none;
      color: white;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .SevenSectionUpBtn2Img {
        width: 25px;
      }
    }
  }

  .SeventhSectionDown {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;

    .SeventhSectionDownDiv1{
      width: 23%;
      height: 80%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      padding-left: 30px;
      padding-top: 20px;

      .SeventhSectionDownDiv1Img{
        width: 40%;
      }

      .SeventhSectionDownDiv1H1{
        font-size: 25px;
      }

      .SeventhSectionDownDiv1H2{
        padding-top: 20px;
        font-size: 15px;
      }

      .SeventhSectionDownDiv1Div{
        width: 100%;
        height: 35%;
        display: flex;
        align-items: flex-end;

        .SeventhSectionDownDiv1Divh1{
          font-size: 20px;
          padding-left: 50px;
        }

        .SeventhSectionDownDiv1DivBtn{
          width: 10%;
          height: 16%;
          border-radius: 50px;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .SeventhSectionDownDiv1DivBtnImg{
            width: 50%;
          }
        }
      }
    }

    .SeventhSectionDownDiv2{
      width: 23%;
      height: 80%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      padding-left: 30px;
      padding-top: 20px;

      .SeventhSectionDownDiv2Img{
        width: 40%;
      }

      .SeventhSectionDownDiv2H1{
        font-size: 25px;
      }

      .SeventhSectionDownDiv2H2{
        padding-top: 20px;
        font-size: 15px;
      }

      .SeventhSectionDownDiv2Div{
        width: 100%;
        height: 38%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .SeventhSectionDownDiv2Divh1{
          font-size: 20px;
        }

        .SeventhSectionDownDiv2DivBtn{
          width: 10%;
          height: 16%;
          border-radius: 50px;
          margin-left: 35%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .SeventhSectionDownDiv2DivBtnImg{
            width: 50%;
          }
        }
      }
    }
    

    .SeventhSectionDownDiv3{
      width: 23%;
      height: 80%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      padding-left: 30px;
      padding-top: 20px;

      .SeventhSectionDownDiv3Img{
        width: 40%;
      }

      .SeventhSectionDownDiv3H1{
        font-size: 25px;
      }

      .SeventhSectionDownDiv3H2{
        padding-top: 20px;
        font-size: 15px;
      }

      .SeventhSectionDownDiv3Div{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-end;

        .SeventhSectionDownDiv3Divh1{
          font-size: 20px;
        }

        .SeventhSectionDownDiv3DivBtn{
          width: 10%;
          height: 15%;
          border-radius: 50px;
          margin-left: 2%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .SeventhSectionDownDiv3DivBtnImg{
            width: 50%;
          }
        }
      }
    }

    .SeventhSectionDownDiv4{
      width: 23%;
      height: 80%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      padding-left: 30px;
      padding-top: 20px;

      .SeventhSectionDownDiv4Img{
        width: 40%;
      }

      .SeventhSectionDownDiv4H1{
        font-size: 25px;
      }

      .SeventhSectionDownDiv4H2{
        padding-top: 20px;
        font-size: 15px;
      }

      .SeventhSectionDownDiv4Div{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-end;

        .SeventhSectionDownDiv4Divh1{
          font-size: 20px;
        }

        .SeventhSectionDownDiv4DivBtn{
          width: 10%;
          height: 15%;
          border-radius: 50px;
          margin-left: 2%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .SeventhSectionDownDiv4DivBtnImg{
            width: 50%;
          }
        }
      }
    }
  }
}

.EightSection{
  width: 100%;
  height: 150vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: lightblue;

  .EightSectionUp{
    width: 100%;
    height: 40vh;

    .EightSectionUpH1{
      padding-left: 5%;
      padding-top: 8%;
      color: navy;
      font-size: 50px;
    }
  }

  .EightSectionDown{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-around;
    padding-left: 4%;
    padding-right: 4%;

    .EightSectionDownL{
      width: 64%;
      height: 90vh;
      border-radius: 15px;
      background-color: navy;
      display: flex;

      .EightSectionDownLDivL{
        width: 54%;
        height: 90vh;
        padding-top: 4%;
        padding-left: 3%;
        color: white;

        .EightSectionDownLDivLH1{
          font-size: 33px;
          padding-bottom: 10%
        }

        .EightSectionDownLDivLH2{
          font-size: 15px;
          padding-bottom: 60%;
        }

        .EightSectionDownLDivLBtn{
          width: 60%;
          height: 12%;
          border-radius: 50px;
          background-color: transparent;
          border: solid;
          border-width: 1px;
          border-color: lightgray;
          color: white;
          font-size: 20px;
        }
      }

      .EightSectionDownLDivR{
        width: 46%;
        height: 90vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .EightSectionDownLDivRImg{
          width: 100%;
          height: 88%;
          border-bottom-right-radius: 15px;
        }
      }
    }

    .EightSectionDownR{
      width: 34%;
      height: 90vh;
      border-radius: 15px;
      padding-top: 4%;
      padding-left: 3%;
      color: white;
      background-color: navy;  
      
      .EightSectionDownRH1{
        font-size: 33px;
        padding-bottom: 10%
      }

      .EightSectionDownRH2{
        font-size: 15px;
        padding-bottom: 60%;
      }

      .EightSectionDownRBtn{
        width: 60%;
        height: 12%;
        border-radius: 50px;
        background-color: transparent;
        border: solid;
        border-width: 1px;
        border-color: lightgray;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.NinethSection{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .NinethSectionDiv{
    width: 90%;
    height: 30vh;
    display: flex;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;

    .NinethSectionDivL{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .NinethSectionDivLImg{
        width: 80%;
      }
    }

    .NinethSectionDivC{
      width: 50%;
      height: 100%;
      padding-left: 20px;
      padding-top: 20px;

      .NinethSectionDivCH1{
        font-size:24px;
        padding-bottom: 20px;
      }

      .NinethSectionDivCH2{
        font-size: 16px;
      }
    }

    .NinethSectionDivR{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-top: 25px;

      .NinethSectionDivRBtn{
        width: 70%;
        height: 35%;
        border-radius: 50px;
        border: none;
        background-color: black;
        color: white;
        font-size: 15px;
        font-weight: bolder;
      }
    }
  }
}

.TenthSection{
  width: 100%;
  height: 60vh;
  padding-left: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .TenthSectionH1{
    font-size: 50px;
    padding-bottom: 10px;
  }

  .TenthSectionH2{
    font-size: 20px;
    padding-bottom: 30px;
  }

  .TenthSectionBtn{
    width: 19%;
    height: 17%;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
}

.EleventhSection{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .EleventhSectionUp{
    width: 100%;
    height: 43.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    .EleventhSectionUpDiv1{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;     
    }

    .EleventhSectionUpDiv2{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;      
    }

    .EleventhSectionUpDiv3{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;     
    }

    .EleventhSectionUpDiv4{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;     
    }
  }

  .EleventhSectionDown{
    width: 100%;
    height: 43.5vh;
    display: flex;
    justify-content: space-evenly;

    .EleventhSectionDownDiv1{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .EleventhSectionDownDiv2{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;  
      display: flex;
      justify-content: center;
      align-items: center;         
    }

    .EleventhSectionDownDiv3{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;      
      display: flex;
      justify-content: center;
      align-items: center;     
    }

    .EleventhSectionDownDiv4{
      width: 23.5%;
      height: 60%;
      border-radius: 10px;
      border: solid;
      border-width: 1px;
      border-color: lightgray;      
      display: flex;
      justify-content: center;
      align-items: center;     
    }
  }
}

.TwelvethSection{
  width: 100%;
  height: 35vh;
  padding-left: 6%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .TwelvethSectionH1{
    font-size: 52px;
    padding-bottom: 10px;
  }

  .TwelvethSectionBtn{
    width: 17%;
    height: 28%;
    border-radius: 50px;
    border: solid;
    border-width: 1px;
    border-color: black;
    font-size: 15px;
    font-weight: bolder;
  }
}

.ThirteenSection{
  width: 100%;
  height: 120vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .ThirteenSectionUp{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9%;
    gap: 15px;

    .ThirteenSectionUpBtn1 {
      width: 3.7%;
      height: 70%;
      border-radius: 50px;
      border: none;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;

      .ThirteenSectionUpBtn1Img{
        width: 20px;
      }
    }

    .ThirteenSectionUpBtn2 {
      width: 3.8%;
      height: 70%;
      border-radius: 50px;
      border: none;
      color: white;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .ThirteenSectionUpBtn2Img {
        width: 25px;
      }
    }
  }

  .ThirteenSectionDown{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;

    .ThirteenSectionDownL{
      width: 28%;
      height: 100vh;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: solid;
      border-width: 1px;
      border-color: lightblue;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ThirteenSectionDownLUp{
        width: 100%;
        height: 65%;  
        padding-left: 30px;
        padding-top: 60px;  
      }

      .ThirteenSectionDownLDown{
        width: 80%;
        height: 35%;
        border-top: solid;
        border-width: 1px;
        border-color: lightblue;

        .ThirteenSectionDownLDownH1{
          font-size: 13px;
          padding-top: 30px;
          color: gray;
        }

        .ThirteenSectionDownLDownH2{
          font-size: 20px;
        }

        .ThirteenSectionDownLDownH3{
          font-size: 13px;
          padding-top: 30px;
          color: gray;
        }

        .ThirteenSectionDownLDownH4{
          font-size: 20px;
        }
      }
    }

    .ThirteenSectionDownR{
      width: 62%;
      height: 100vh;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: lightblue;
      padding-top: 50px;

      .ThirteenSectionDownRH1{
        font-size: 34.5px;
        padding-left: 60px;
        color: navy;
      }

      .ThirteenSectionDownRH2{
        font-size: 34.5px;
        padding-left: 75px;
        padding-bottom: 30px;
        color: navy;
      }

      .ThirteenSectionDownRH3{
        font-size: 16.5px;
        padding-left: 75px;
        color: navy;
      }

      .ThirteenSectionDownRH4{
        font-size: 16.5px;
        padding-left: 75px;
        padding-bottom: 25%;
        color: navy;
      }

      .ThirteenSectionDownRBtn{
        width: 26%;
        height: 11%;
        border-radius: 50px;
        border: solid;
        border-width: 1px;
        border-color: navy;
        background-color: lightblue;
        font-size: 18px;
        font-weight: bolder;
        color: navy;
        margin-left: 65%;
      }
    }
  }
}

.ForteenSection{
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .ForteenSectionDivC{
    width: 97%;
    height: 110vh;
    border-radius: 20px;
    display: flex;
    background-color: rgb(247, 244, 244);

    .ForteenSectionDivCL{
      width: 50%;
      height: 110vh;
      padding-left: 40px;
      padding-top: 10%;

      .ForteenSectionDivCLH1{
        font-size: 52px;
        padding-bottom: 20px;
      }

      .ForteenSectionDivCLH2{
        font-size: 20px;
      }
    }

    .ForteenSectionDivCR{
      width: 50%;
      height: 110vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-top: 8%;
      padding-bottom: 8%;

      .ForteenSectionDivCRT{
        width: 95%;
        height: 30%;
        background-color: white;
        border-radius: 10px;
        display: flex;

        .ForteenSectionDivCRTDivL{
          width: 70%;
          height: 100%;
          padding-left: 40px;
          padding-top: 20px;

          .ForteenSectionDivCRTDivLH1{
            font-size: 30px;
            padding-bottom: 10px;
          }

          .ForteenSectionDivCRTDivLH2{
            font-size: 20px;
            color: gray;
          }
        }

        .ForteenSectionDivCRTDivR{
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 30px;

          .ForteenSectionDivCRTDivRBtn {
            width: 36%;
            height: 38%;
            border-radius: 50px;
            border: none;
            color: white;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;

            .ForteenSectionDivCRTDivRBtnImg {
              width: 35px;
            }
          }
        }
      }

      .ForteenSectionDivCRM{
        width: 95%;
        height: 30%;
        background-color: white;
        border-radius: 10px;
        display: flex;

        .ForteenSectionDivCRMDivL{
          width: 70%;
          height: 100%;
          padding-left: 40px;
          padding-top: 20px;

          .ForteenSectionDivCRMDivLH1{
            font-size: 30px;
            padding-bottom: 10px;
          }

          .ForteenSectionDivCRMDivLH2{
            font-size: 20px;
            color: gray;
          }
        }

        .ForteenSectionDivCRMDivR{
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 30px;

          .ForteenSectionDivCRMDivRBtn {
            width: 36%;
            height: 38%;
            border-radius: 50px;
            border: none;
            color: white;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;

            .ForteenSectionDivCRMDivRBtnImg {
              width: 35px;
            }
          }
        }
      }

      .ForteenSectionDivCRD{
        width: 95%;
        height: 30%;
        background-color: white;
        border-radius: 10px;
        display: flex;

        .ForteenSectionDivCRDDivL{
          width: 70%;
          height: 100%;
          padding-left: 40px;
          padding-top: 20px;

          .ForteenSectionDivCRDDivLH1{
            font-size: 30px;
            padding-bottom: 10px;
          }

          .ForteenSectionDivCRDDivLH2{
            font-size: 20px;
            color: gray;
          }
        }

        .ForteenSectionDivCRDDivR{
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 30px;

          .ForteenSectionDivCRDDivRBtn {
            width: 36%;
            height: 38%;
            border-radius: 50px;
            border: none;
            color: white;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;

            .ForteenSectionDivCRDDivRBtnImg {
              width: 35px;
            }
          }
        }
      }
    }
  }
}

.FifteenSection{
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .FifteenSectionUp{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 40px;
    padding-right: 40px;

    .FifteenSectionUpImg{
      height: 70%;
      border-radius: 10px;
    }
  }

  .FifteenSectionDown{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

    .FifteenSectionDownL{
      width: 30%;
      height: 70%;

      .FifteenSectionDownLH1{
        font-size: 20px;
      }

      .FifteenSectionDownLDiv{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: flex-end;

        .FifteenSectionDownLDivH1{
          font-size: 16px;
        }

        .FifteenSectionDownLDivBtn{
          width: 7%;
          height: 45%;
          border-radius: 50px;
          margin-left: 2%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .FifteenSectionDownLDivBtnImg{
            width: 50%;
          }
        }
      }
    }

    .FifteenSectionDownC{
      width: 30%;
      height: 70%;

      .FifteenSectionDownCH1{
        font-size: 20px;
      }

      .FifteenSectionDownCDiv{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: flex-end;

        .FifteenSectionDownCDivH1{
          font-size: 16px;
        }

        .FifteenSectionDownCDivBtn{
          width: 7%;
          height: 45%;
          border-radius: 50px;
          margin-left: 2%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .FifteenSectionDownCDivBtnImg{
            width: 50%;
          }
        }
      }
    }

    .FifteenSectionDownR{
      width: 30%;
      height: 70%;

      .FifteenSectionDownRH1{
        font-size: 20px;
      }

      .FifteenSectionDownRDiv{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: flex-end;

        .FifteenSectionDownRDivH1{
          font-size: 16px;
        }

        .FifteenSectionDownRDivBtn{
          width: 7%;
          height: 45%;
          border-radius: 50px;
          margin-left: 2%;
          border: none;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;

          .FifteenSectionDownRDivBtnImg{
            width: 50%;
          }
        }
      }
    }
  }
}

footer{
  width: 100%;
  height: 210vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #690031;

  .FooterDiv1{
    width: 90%;
    height: 90vh;
    padding-top: 100px;
    border-bottom: solid;
    border-width: 1px;

    .FooterDiv1H1{
      font-size: 52px;
      padding-bottom: 10px;
    }

    .FooterDiv1Btn{
      width: 13%;
      height: 13%;
      border-radius: 50px;
      border: none;
      margin-bottom: 70px;
      font-size: 20px;
      color: #690031;
    }

    .FooterDiv1H2{
      font-size: 15px;
    }
  }

  .FooterDiv2{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 10%;

    .FooterDiv2Div{
      width: 20%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      
      .FooterDiv2DivImg{
        width: 10%;
      }
    }

    ul{
      width: 20%;
      height: 50%;

      .Lis{
        font-weight: bolder;
        padding-bottom: 30px;
      }

      li{
        list-style: none;
        padding-bottom: 10px;
      }
    }
  }

  .FooterDiv3{
    width: 100%;
    height: 20vh;
    background-color: #710C3A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .FooterDiv3H1{
      font-size: 15px;
      padding-right: 50px;
    }

    .FooterDiv3H2{
      font-size: 15px;
      padding-right: 50px;
    }

    .FooterDiv3H3{
      font-size: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .FooterDiv3Img1{
      width: 30px;
    }

    .FooterDiv3ImgIg{
      width: 50px;
    }

    .FooterDiv3Img2{
      width: 100px;
    }
  }
}